{% extends "base.html" %}
{% load static %}

{% block page-title %} Schedule posts {% endblock %}


{% block body %}


<script defer src="{% static 'emoji-mart.js' %}"></script>


<div class="container" style="display: flex; justify-content: space-between;">

    <a href="{% url 'calendar' %}?year={{ year }}" style="text-decoration: none;">
        <i class="bi bi-arrow-left"></i>
        BACK
    </a>

    <div>
        <a href="{% url 'schedule_form' isodate=prev_date %}" style="margin-right: 1rem; text-decoration: none;">
            <i class="bi bi-arrow-left"></i>
        </a>
        <a href="{% url 'schedule_form' isodate=today %}" style="margin-right: 1rem; text-decoration: none;">
            NOW
        </a>
        <a href="{% url 'schedule_form' isodate=next_date %}" style="text-decoration: none;">
            <i class="bi bi-arrow-right"></i>
        </a>
    </div>

</div>


<p style="text-align: center; font-weight: bold; margin-top: 2rem;">
    {{ current_date }} <sup>{{ posts|length }} posts</sup>
</p>


{% if show_form %}

<style>
    .two-panel {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    @media (max-width: 768px) {
        .two-panel {
            grid-template-columns: 1fr;
        }
    }

    .social-checkbox-label {
        display: flex; flex-direction: column; gap: 10px;
    } 
    .social-checkbox-figure {
        display: flex; gap: 10px; align-items: center;
    }

    .avatar {
        display: inline-block;
        object-fit: cover; 
        width: 35px; 
        height: 35px;
        border-radius: 5px; 
    }

    article {
        padding: 1.5rem;
    }

    pre {
        text-align: center;
    }

    .whitespace-pre-line {
        white-space: pre-line;
    }
    
</style>

<div x-data="showPreview" class="container-fluid grid mt-2 two-panel">

    <article>

        <pre>POST</pre>

        <form x-data="formData" x-on:submit="loading = true" action="{% url 'schedule_save' isodate=isodate %}"
            method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div style="margin-bottom: 2rem; display: flex;">

                {% if integrations_info.facebook_ok %}
                    <label for="{{ post_form.post_on_facebook.id_for_label }}" class="social-checkbox-label">

                        <div style="font-size: 12px;">
                            <i class="bi bi-facebook"></i>
                            <strong>Facebook</strong>
                        </div>

                        <div class="social-checkbox-figure">
                            <figure style="position: relative;">
                                <img src="{{ integrations_info.facebook_avatar_url }}"
                                    alt="{{ integrations_info.facebook_username }}"
                                    class="avatar">
                            </figure>
                            <strong style="font-size: 16px;">{{ integrations_info.facebook_username }}</strong>
                            <input type="checkbox" name="{{ post_form.post_on_facebook.name }}" id="{{ post_form.post_on_facebook.auto_id }}">
                        </div>

                        {{ post_form.post_on_facebook.errors }}

                    </label>
                {% endif %}


                {% if integrations_info.instagram_ok %}
                    <label for="{{ post_form.post_on_instagram.id_for_label }}">

                        <div style="display: flex; flex-direction: column; gap: 10px;">

                            <div style="font-size: 12px;">
                                <i class="bi bi-instagram"></i>
                                <strong>Instagram</strong>
                            </div>

                            <div class="social-checkbox-figure">
                                <figure style="position: relative;">
                                    <img src="{{ integrations_info.instagram_avatar_url }}"
                                        alt="{{ integrations_info.instagram_username }}" 
                                        class="avatar">
                                </figure>
                                <strong style="font-size: 16px;">{{ integrations_info.instagram_username }}</strong>
                                <input type="checkbox" name="{{ post_form.post_on_instagram.name }}" id="{{ post_form.post_on_instagram.auto_id }}">
                            </div>
                        </div>

                        {{ post_form.post_on_instagram.errors }}

                    </label>
                {% endif %}


                {% if integrations_info.tiktok_ok %}
                    <label for="{{ post_form.post_on_tiktok.id_for_label }}" class="social-checkbox-label">

                        <div style="font-size: 12px;">
                            <i class="bi bi-tiktok"></i>
                            <strong>TikTok</strong>
                        </div>

                        <div class="social-checkbox-figure">
                            <figure style="position: relative;">
                                <img src="{{ integrations_info.tiktok_avatar_url }}"
                                    alt="{{ integrations_info.tiktok_username }}"
                                    class="avatar">
                            </figure>
                            <strong style="font-size: 16px;">{{ integrations_info.tiktok_username }}</strong>
                            <input type="checkbox" name="{{ post_form.post_on_tiktok.name }}" id="{{ post_form.post_on_tiktok.auto_id }}">
                        </div>

                        {{ post_form.post_on_tiktok.errors }}

                    </label>
                {% endif %}


                {% if integrations_info.x_ok %}
                    <label for="{{ post_form.post_on_x.id_for_label }}" class="social-checkbox-label">

                        <div style="font-size: 12px;">
                            <i class="bi bi-twitter-x"></i>
                            <strong>X</strong>
                        </div>

                        <div class="social-checkbox-figure">
                            <figure style="position: relative;">
                                <img src="{{ integrations_info.x_avatar_url }}"
                                    alt="{{ integrations_info.x_username }}"
                                    class="avatar">
                            </figure>
                            <strong style="font-size: 16px;">{{ integrations_info.x_username }}</strong>
                            <input type="checkbox" name="{{ post_form.post_on_x.name }}" id="{{ post_form.post_on_x.auto_id }}">
                        </div>

                        {{ post_form.post_on_x.errors }}

                    </label>
                {% endif %}


                 {% if integrations_info.linkedin_ok %}
                    <label for="{{ post_form.post_on_linkedin.id_for_label }}" class="social-checkbox-label">

                        <div style="font-size: 12px;">
                            <i class="bi bi-linkedin"></i>
                            <strong>LinkedIn</strong>
                        </div>

                        <div class="social-checkbox-figure">
                            <figure style="position: relative;">
                                <img src="{{ integrations_info.linkedin_avatar_url }}"
                                    alt="{{ integrations_info.linkedin_username }}"
                                    class="avatar">
                            </figure>
                            <strong style="font-size: 16px;">{{ integrations_info.linkedin_username }}</strong>
                            <input type="checkbox" name="{{ post_form.post_on_linkedin.name }}" id="{{ post_form.post_on_linkedin.auto_id }}">
                        </div>

                        {{ post_form.post_on_linkedin.errors }}

                    </label>
                {% endif %}

            </div>

            <div style="display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 2rem;">

                <div style="margin-right: 2rem;" x-data="timePicker()">

                    <label style="display: none;" for="{{ post_form.scheduled_on.id_for_label }}">
                        Schedule on:
                        {{ post_form.scheduled_on }}
                        {{ post_form.scheduled_on.errors }}
                    </label>

                    <label style="max-width: fit-content;" for="id_scheduled_on_time">
                        At time:
                        <input type="time" id="id_scheduled_on_time" x-model="timeValue"
                            @input="updateDatetime($event.target.value)">
                    </label>
                </div>

                <label style="display: none;" for="{{ post_form.post_timezone.id_for_label }}">
                    Timezone:
                    {{ post_form.post_timezone }}
                    {{ post_form.post_timezone.errors }}
                </label>

                <div style="display: flex; gap: 10px; margin-top: 1rem; flex-wrap: wrap; align-items: center;">

                    <label for="{{ post_form.process_image.id_for_label }}" data-tooltip="Process image">
                        <i class="bi bi-camera-fill"></i>
                        {{ post_form.process_image }}
                        {{ post_form.process_image.errors }}
                    </label>

                    <label for="{{ post_form.process_video.id_for_label }}" data-tooltip="Process video">
                        <i class="bi bi-camera-reels-fill"></i>
                        {{ post_form.process_video }}
                        {{ post_form.process_video.errors }}
                    </label>

                </div>

                <div style="display: flex; flex-direction: column; font-size: 12px;">
                    <small class="pico-color-slate-450">
                        <i class="bi bi-camera-fill"></i>
                        Process image - if checked we'll make sure image has the right size to be posted (1080x1350px).
                        If only text is available it will create an image from that text with a blurred background
                        image.
                    </small>

                    <small class="pico-color-slate-450">
                        <i class="bi bi-camera-reels-fill"></i>
                        Process video - We'll make sure video has the right size to be posted (ratio 9:16 with
                        1080x1920px and 90 seconds length).
                    </small>
                </div>

            </div>

            <div x-data="emojiPicker">

                <label for="{{ post_form.description.id_for_label }}">
                    Title/Post/Caption:
                    <textarea x-model="postText" x-data x-grow @input="countLength"
                        name="{{ post_form.description.name }}" cols="40" rows="3" maxlength="63207" required
                        id="{{ post_form.description.id_for_label }}">{% if post_form.description.value %}{{ post_form.description.value }}{% endif %}</textarea>
                    {{ post_form.description.errors }}
                    <div style="display: flex; justify-content: end; margin-top: -18px;">
                        <small class="pico-color-slate-450" x-text="postLength"></small>
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        <small x-text="xfreelenerr" class="pico-color-amber-300"></small>
                        <small x-text="instagramlenerr" class="pico-color-amber-300"></small>
                        <small x-text="linkedinlenerr" class="pico-color-amber-300"></small>
                        <small x-text="xbluelenerr" class="pico-color-amber-300"></small>
                        <small x-text="facebooklenerr" class="pico-color-amber-300"></small>
                    </div>
                </label>

                <div x-data="{ isVisible: window.innerWidth >= 758 }"
                    x-init="window.addEventListener('resize', () => isVisible = window.innerWidth >= 758)">
                    <template x-if="isVisible">
                        <div style="display: flex; justify-content: right; position: relative;">
                            <div style="position: absolute; top: -10rem; right: 4rem;" id="emoji"
                                x-show="showEmojiPicker" @click.away="showEmojiPicker = false">
                            </div>

                            <button style="all: unset; padding: 10px; color: rgb(179, 178, 178); cursor: pointer;"
                                class="outline" type="button" @click="togglePicker">
                                <i class="bi bi-emoji-smile"></i>
                            </button>
                        </div>
                    </template>
                </div>

            </div>


            <div>
                <label for="{{ post_form.media_file.id_for_label }}">
                    <input type="file" name="media_file" id="{{ post_form.media_file.auto_id }}"
                        @change="handleFileChange">
                    {{ post_form.media_file.errors }}
                </label>
            </div>

            <button type="submit" x-bind:disabled="loading">
                <i class="bi bi-save"></i>
                <span>Schedule post</span>
            </button>

            <small x-show="loading" aria-busy="true">Saving post...</small>

        </form>

    </article>

    <article style="max-height: fit-content;">

        <pre>PREVIEW</pre>

        <p x-text="postText" class="whitespace-pre-line"></p>

        <template x-if="mediaType === 'image'">
            <div x-data="{fullScreen: false}" style="display: flex; justify-content: center;">
                <div x-show="!fullScreen">
                    <img @click="fullScreen = true" :src="mediaUrl" alt="Media file"
                        style="max-width: 100%; height: 350px; object-fit: contain; margin-bottom: 1rem; margin-top: 1rem; border-radius: 5px;">
                </div>

                <dialog :open="fullScreen" @click="fullScreen = false">
                    <img :src="mediaUrl" alt="Media file"
                        style="max-width: 100%; height: 100%; object-fit: contain; margin-bottom: 1rem; margin-top: 1rem; border-radius: 5px;">
                </dialog>
            </div>
        </template>

        <template x-if="mediaType === 'video'">
            <div x-data="{fullScreen: false}" style="display: flex; justify-content: center;">
                <div x-show="!fullScreen">
                    <video @click="fullScreen = true" controls
                        style="max-width: 100%; height: 350px; object-fit: contain; margin-bottom: 1rem; margin-top: 1rem; border-radius: 5px;">
                        <source :src="mediaUrl" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <dialog :open="fullScreen" @click="fullScreen = false">
                    <video controls
                        style="max-width: 100%; height: 100%; object-fit: contain; margin-bottom: 1rem; margin-top: 1rem; border-radius: 5px;">
                        <source :src="mediaUrl" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </dialog>
            </div>
        </template>

    </article>

</div>

{% else %}

{% if not posts %}
<p style="text-align: center; margin-top: 4rem;" class="pico-color-slate-600">No posts on this past date.</p>
{% endif %}

{% endif %}


{% include 'components/posts.html' with posts=posts %}


<script>

    document.addEventListener("DOMContentLoaded", function () {
        const timezoneInput = document.getElementById("id_post_timezone");
        if (timezoneInput && !timezoneInput.value) {
            timezoneInput.value = Intl.DateTimeFormat().resolvedOptions().timeZone;
        }
    });

    function timePicker() {
        return {
            timeValue: '',

            init() {
                const now = new Date();
                now.setHours(now.getHours() + 1);
                this.timeValue = now.toTimeString().substring(0, 5);
                this.updateDatetime(this.timeValue);
            },

            updateDatetime(time) {
                const datetimeInput = document.getElementById('{{ post_form.scheduled_on.id_for_label }}');
                if (!datetimeInput) return;

                let datePart;
                if (datetimeInput.value) {
                    datePart = datetimeInput.value.split('T')[0];
                } else {
                    const today = new Date();
                    datePart = today.toISOString().split('T')[0];
                }
                datetimeInput.value = `${datePart}T${time}`;
            }
        };
    }


    function emojiPicker() {
        let activeInput = null;

        return {
            getTheme() {
                return localStorage.getItem('theme');
            },
            showEmojiPicker: false,
            togglePicker() {
                this.showEmojiPicker = !this.showEmojiPicker;
                if (!document.getElementById('picker')) {
                    const pickerOptions = {
                        theme: this.getTheme(),
                        onEmojiSelect: (emoji) => {
                            if (activeInput) {
                                activeInput.value += emoji.native;
                            }
                        }
                    };
                    const picker = new EmojiMart.Picker(pickerOptions);
                    picker.id = 'picker';
                    const emojiEl = document.getElementById("emoji");
                    emojiEl.appendChild(picker);
                }
            },
            init() {
                document.addEventListener('focusin', (event) => {
                    if (event.target.tagName === 'TEXTAREA' || event.target.tagName === 'INPUT') {
                        activeInput = event.target;
                    } else {
                        activeInput = document.getElementById("id_description");
                    }
                });
            }
        };
    }

    function formData() {

        const text_max_length = {
            "X_free": 280,
            "X_blue": 4000,
            "instagram": 2200,
            "facebook": 63206,
            "linkedin": 3000,
        }

        return {
            loading: false,
            postLength: 0,
            xfreelenerr: "",
            xbluelenerr: "",
            instagramlenerr: "",
            facebooklenerr: "",
            linkedinlenerr: "",
            countLength: function (event) {
                this.postLength = event.target.value.length;

                if (this.postLength >= text_max_length.X_free) {
                    this.xfreelenerr = `X Free ${text_max_length.X_free} allowed characters reached`;
                } else {
                    this.xfreelenerr = "";
                }

                if (this.postLength >= text_max_length.X_blue) {
                    this.xbluelenerr = `X Blue ${text_max_length.X_blue} allowed characters reached`;
                } else {
                    this.xbluelenerr = "";
                }

                if (this.postLength >= text_max_length.instagram) {
                    this.instagramlenerr = `Instagram ${text_max_length.instagram} allowed characters reached`;
                } else {
                    this.instagramlenerr = "";
                }

                if (this.postLength >= text_max_length.facebook) {
                    this.facebooklenerr = `Facebook ${text_max_length.facebook} allowed characters reached`;
                } else {
                    this.facebooklenerr = "";
                }

                if (this.postLength >= text_max_length.linkedin) {
                    this.linkedinlenerr = `Linkedin ${text_max_length.linkedin} allowed characters reached`;
                } else {
                    this.linkedinlenerr = "";
                }

            }
        }
    }

    function showPreview() {
        return {
            postText: "",
            mediaUrl: null,
            mediaType: null,

            handleFileChange(event) {
                const file = event.target.files[0];
                if (!file) return;

                this.mediaUrl = URL.createObjectURL(file);

                if (file.type.startsWith("image/")) {
                    this.mediaType = "image";
                } else if (file.type.startsWith("video/")) {
                    this.mediaType = "video";
                } else {
                    this.mediaType = null;
                }
            }
        }
    }

</script>



{% endblock %}